NODE_ENV=production

PORT=3000

DATABASE_URL=postgresql://user:password@host:5432/dbname

JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here

JWT_ACCESS_EXPIRES_IN=3600
JWT_REFRESH_EXPIRES_IN=6048001

CORS_ORIGIN=http://localhost:5173